@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

$nav-height: 65px;
$blog-title-height: 160px;
$blog-content-height: 145px;
body {
  font-family: 'Roboto', sans-serif;
  padding-top: $nav-height;
  margin: 0;
}
.content-body {
  padding: 16px;
}

header {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
}

.top-nav {
  min-height: $nav-height;
  .md-toolbar-tools {
    height: $nav-height;
    max-height: $nav-height;
  }
  h1 {
    font-size: 20px !important;
    font-weight: 300 !important;
  }
  .logo {
    padding: 5px 10px;
    img {
      height: $nav-height / 2.5;
      width: auto;
      margin-top: 5px;
    }
  }
}

body,
.content-body {
  background-image: url("images/background.jpg");
  background-repeat: repeat;
}

.blog-select {
  display: flex;
  flex-direction: column;

  md-input-container {
    margin-left: 8px;
    margin-right: 8px;
  }
}

.search-container {
  margin-left: 10%;
  width: 80%;
  padding: 6px 8px;
  .categories, .search, .search-input {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .search {
    margin-top: 8px;
    .search-input {
      width: 80%;
      img {
        width: 24px;
        margin: 8px 8px 8px 0;
      }
    }
    > div {
      margin: 10px;
      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
}

blog-card md-card {
  md-card-title-text:only-child .md-subhead {
    padding-top: 0;
  }
  md-card-title,
  md-card-content {
    overflow: hidden;
  }
  md-card-title {
    height: $blog-title-height;
    min-height: $blog-title-height;
  }
  md-card-content {
    height: $blog-content-height;
    max-height: $blog-content-height;
  }
}
