@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

$nav-height: 65px;
$blog-title-height: 160px;
$blog-content-height: 145px;
body {
  font-family: 'Roboto', sans-serif;
  padding-top: $nav-height;
}

header {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
}

.top-nav {
  min-height: $nav-height;
  .md-toolbar-tools {
    height: $nav-height;
    max-height: $nav-height;
  }
  .logo {
    padding: 5px 10px;
    img {
      height: $nav-height / 2.5;
      width: auto;
      margin-top: -3px;
    }
  }
}

body,
.content-body {
  //background-image: url("../images/background.jpg");
  background-repeat: repeat;
}

.blog-select {
  md-input-container {
    margin-left: 8px;
    margin-right: 8px;
  }
}

blog-card md-card {
  md-card-title-text:only-child .md-subhead {
    padding-top: 0;
  }
  md-card-title,
  md-card-content {
    overflow: hidden;
  }
  md-card-title {
    height: $blog-title-height;
    min-height: $blog-title-height;
  }
  md-card-content {
    height: $blog-content-height;
    max-height: $blog-content-height;
  }
}
